<!-- Carousel -->
<div class="container">
	<div class="row">
		<div id="carousel-home" class="carousel slide carousel-fade carousel-animate carousel-bg carousel-bg-img-xs"
		data-ride="carousel" style="width: 100%; height:auto; margin: 0 auto">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-home" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-home" data-slide-to="1"></li>
				<li data-target="#carousel-home" data-slide-to="2"></li>
			</ol>
			<!-- First Image -->
			<div class="carousel-inner" role="listbox">
				<div class="item active flex-center-xs" style="background-image">
				<%= link_to image_tag("home.jpg", alt: "football")%>
					<div class="carousel-caption flex-center-xs">
						<div class="hero fadeInUp animated">
							<h1>welcome to the football results app</h1>
							<button class="btn btn-hero btn-lg zoomIn animated"
								onclick="window.location.href='/results'"><span>get the latest results</span></button>
						</div>
					</div>
				</div>
				<!-- Second Image -->
				<div class="item flex-center-xs" style="background-image">
				<%=link_to image_tag("team.jpg", alt: "laptop")%>
					<div class="carousel-caption flex-center-xs">
						<div class="hero fadeInUp animated">
							<h1>about the app</h1>
							<button class="btn btn-hero btn-lg zoomIn animated"
							onclick="window.location.href='/about'"><span>learn more about us</span></button>
						</div>
					</div>
				</div>
				<!-- Third Image -->
				<div class="item flex-center-xs" style="background-image">
					<%=link_to image_tag("contact.png", alt: "contact us")%>
					<div class="carousel-caption flex-center-xs">
						<div class="hero fadeInUp animated">
							<h1>contact us</h1>
							<button class="btn btn-hero btn-lg zoomIn animated"
							onclick="window.location.href='/contact'"><span>send us an email</span></button>
						</div>
					</div>
				</div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Backward</span>
			</a>
			<a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Forward</span>
			</a>
		</div>
	</div>
</div>