<% provide(:title, "Predictions") %>
<%= stylesheet_link_tag "custom", media: 'all', 'data-turbolinks-track' => true %>

<form>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 bg-success text-white">Home Team</div>
    <div class="col-sm-3 bg-danger text-white">Away Team</div>
    <div class="col-sm-3 bg-success text-white">HomeT Goals</div>
    <div class="col-sm-2 bg-danger text-white">AwayT Goals</div>
    <div class="col-sm-1">Date</div>

  </div>
  </hr>
</div>
<% @results.each do |result| %>
 <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 bg-success text-white" ><a href="#"><%= result.HomeTeam %></a></div>
    <div class="col-sm-3 bg-danger text-white" ><a href="#"><%= result.AwayTeam %></a></div>
    <div class="col-sm-3 bg-success text-white" ><%= result.FTHG %></div>
    <div class="col-sm-2 bg-danger text-white" ><%= result.FTAG %></div>
    <div class="col-sm-1 bg-white text-gray-dark" ><%= result.Date %></div>
  </div>
</div>
 <% end %>
</form>
 