<% provide(:title, "Predictions") %>
<h1>Predictions</h1>

<form id="result1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 bg-success text-white">Home Teams</div>
      <div class="col-xs-3 bg-danger text-white">Away Team</div>
      <div class="col-xs-2 colorDate">Date</div>
      <div class="col-xs-2 bg-success text-white">Pred.H Goals</div>
      <div class="col-xs-2 bg-danger text-white">Pred.A Goals</div>
    </div>
  </div>


  <% @fixtures.each do |fixture| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 bg-success text-white" ><%= fixture.HomeTeam %></div>
        <div class="col-xs-3 bg-danger text-white" ><%= fixture.AwayTeam %></div>
        <div class="col-xs-2 colorDate" ><%= fixture.Date %></div>
        <div class="col-xs-2 bg-success text-white" ><%= fixture.predict_goals_home %></div>
        <div class="col-xs-2 bg-danger text-white" ><%= fixture.predict_goals_away %></div>
      </div>
    </div>
  <% end %>
</form>