
<% provide(:title, "Results") %>
<h1>Results</h1>
<form id="result">
 <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 bg-success text-white">Home Teams</div>
      <div class="col-xs-3 bg-danger text-white">Away Team</div>
      <div class="col-xs-2 colorDate">Date</div>
      <div class="col-xs-2 bg-success text-white">HomeT Goals</div>
      <div class="col-xs-2 bg-danger text-white">AwayT Goals</div>
    </div>
  </div>

  <% @results.each do |result| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 bg-success text-white" ><%= link_to result.HomeTeam, result %></div>
        <div class="col-xs-3 bg-danger text-white" ><%= result.AwayTeam %></div>
        <div class="col-xs-2 colorDate" ><%= result.Date %></div>
        <div class="col-xs-2 bg-success text-white" ><%= result.FTHG %></div>
        <div class="col-xs-2 bg-danger text-white" ><%= result.FTAG %></div>
        
      </div>
    </div>
  <% end %>
 </div>

</form>