<% provide(:title, @team) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @team %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
</div>

<form id="result">
 <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 bg-success text-white">Home Teams</div>
      <div class="col-xs-3 bg-danger text-white">Away Team</div>
      <div class="col-xs-2 colorDate">Date</div>
      <div class="col-xs-2 bg-success text-white">HomeT Goals</div>
      <div class="col-xs-2 bg-danger text-white">AwayT Goals</div>
    </div>
  </div>
  <% Result.where(HomeTeam: @team).or(Result.where(AwayTeam: @team)).find_each do |team| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 bg-success text-white" ><%= team.HomeTeam %></div>
        <div class="col-xs-3 bg-danger text-white" ><%= team.AwayTeam %></div>
        <div class="col-xs-2 colorDate" ><%= team.Date %></div>
        <div class="col-xs-2 bg-success text-white" ><%= team.FTHG %></div>
        <div class="col-xs-2 bg-danger text-white" ><%= team.FTAG %></div>
        
      </div>
    </div>
  <% end %>
</form>

