@import "bootstrap-sprockets";
@import "bootstrap";

/* --------------------------- Mixins, Variables, etc. ---------------------- */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

/* universal RESULT PAGE */

/* universal RESULT PAGE */

#result {
border-collapse: collapse;
     background-color: #8FBC8F;
     border-radius: 10px;
     margin-left: 10%;
     margin-right: 5%;
     min-width: 720px;
     .col-xs-2 {
     border-radius: 5px;
      border: 1px solid grey;
     }
     .col-xs-3 {
     border-radius: 5px;
      border: 1px solid grey;
     }
     .colorDate {
     background-color: white;
     }


}
/* universal PREDICTION PAGE */
#result1 {
border-collapse: collapse;
     background-color: #8FBC8F;
     border-radius: 10px;
     margin-left: 10%;
     margin-right: 5%;
     min-width: 720px;
     .col-xs-2 {
     border-radius: 5px;
      border: 1px solid grey;
     }
     .col-xs-3 {
     border-radius: 5px;
      border: 1px solid grey;
     }
     .colorDate {
     background-color: white;
     }

     
}

/* above code is for show.html */
body {
  padding-top: 60px;
  background-color: #8FBC8F;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* --------------------------------- Typography ----------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* -------------------------------- Header ---------------------------------- */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* -------------------------------- Footer ---------------------------------- */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      
      margin-left: 15px;
    }
  }
}

/* --------------------------- Miscellaneous -------------------------------- */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* ------------------------------ Sidebar ----------------------------------- */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span{
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* ----------------------------- Forms -------------------------------------- */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* --------------------------- Users Index ---------------------------------- */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* --------------------------- Results ----------------------------------- */



/* ------------------------- Carousel Styling --------------------------------*/

.carousel-animate .carousel-indicators > li {
margin: 0 2px;
background-color: #fff;
border-color: rgb(58,36,83);
opacity: .7;
}

.carousel-animate .carousel-indicators > li.active {
width: 10px;
height: 10px;
opacity: 1;
}

.carousel-animate .hero {
color: #fff;
text-align: center;
text-transform: uppercase;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
}

.btn.btn-lg {
padding: 10px 40px;
}

.btn.btn-sm.btn-success {
  padding-top: 5px;
}

.btn.btn-hero {
  display: inline-block;
  border-radius: 12px;
  background-color: #7FFFD4;
  color: #555;
  opacity: 0.8;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px auto;
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
  & span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    &:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
  &:hover span {
    padding-right: 25px;
    &:after {
      opacity: 1;
      right: 0;
    }
  }
}

.hero h1 {
	font-size: 2em;
}

.carousel-fade .carousel-inner .item {
	transition-property: opacity;
}

.hero {
  h1 { font-size: 2.25vw; }
  h3, button { font-size: 1.5vw; }
}

.carousel-fade .carousel-inner .item { transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
opacity: 1;
}


.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
left: 0;
transform: translate3d(0, 0, 0);
}

.carousel-bg .carousel-inner .item {
background-color: darkslategrey;
background-size: cover;
background-position: center;
width: 100%;
height: auto;
}

.carousel img { min-width: 100%; }