<footer class="footer">
  <small style="color: white;">
    The Football Results App created by Kanat Kussembayev, Gareth Donaldson, Miroslav Stoyanov
  </small>
  <nav>
    <ul >
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.premierleague.com/">News</a></li>
    </ul>
  </nav>
</footer>