<header class="navbar-fixed-top navbar-inverse"> 
  <div class="container">
    <nav>
       <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Football Results App</a>
    </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Results", results_path %></li>
        <li><%= link_to "Predictions", fixtures_path %></li>
        <% if logged_in? %>
          <% if current_user.admin == true %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="current_user" class="dropdown-toggle" data-toggle="dropdown">
              <%= "Welcome, #{current_user.name}" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary btn-xs" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
